/* app/components/Sidebars.module.css */

.sidebars {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Make them all match full height */
    height: 100vh
  }
  
  /* A small column for the toggle button. Adjust width as you like. */
  .toggleButton {
    width: 32px;
    background-color: #31B2BA;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 0; /* Remove default padding */
  }

  .toggleButton:hover {
    background-color: #777;
  }
  
  .toggleButton svg {
  display: block; /* Eliminates extra inline space */
  margin: 0;
}
