.location {
    margin-top: 50px;
    margin-bottom: 24px;
    background-color: #ff0000; /* Red background */
    color: #fff; /* White text */
    padding: 6px 12px; /* Padding for spacing */
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
  }

.childContainer {
padding: 1rem;
}

.searchField {
width: 100%;
padding: 0.5rem;
margin-bottom: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
}

.historySection {
display: flex;
flex-direction: column;
}

.historyTitle {
font-weight: bold;
margin-bottom: 0.5rem;
}

.historyContainer {
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.historyItem {
background-color: white;
height: 40px;
border: 1px solid #ccc;
border-radius: 4px;
}
.searchField::placeholder {
    font-weight: bold;
    text-align: center;
  }
  
  